{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
    
{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-white">
                    Hate To Love; Streaming Everywhere Now!
                </h1>
                <div class="my-5">
                    <h3>
                        <button onclick="document.getElementById('id01').style.display='block'" 
                        class="book-now-button btn btn-lg rounded-0 text-uppercase py-3 text-white">Watch Now!</button>
                    </h3>
                    <div id="id01" class="modal">
                            <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" onclick="document.getElementById('id01').style.display='none'" class="close"
                                  title="Close Modal" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title text-center">Streaming Sites:</h4>
                                </div>
                                <div class="modal-body">
                                    <button type="button" class="btn-black">
                                    <a href="https://tv.apple.com/gb/movie/hate-to-love-nickelback/umc.cmc.3njsav347ywauwgj7olybyjmw"
                                     target="_blank">Apple TV</a></button>
                                    <button type="button" class="btn-black">
                                    <a href="https://www.amazon.co.uk/Hate-Love-Nickelback-Chad-Kroeger/dp/B0CY2ZTRNR"
                                     target="_blank">Amazon Prime</a></button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}